.dashboard-item {
    position: relative;
    width: 55%;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;


    padding: 100px 60px 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .09);
    transition: .2s;
}

.dashboard-item:hover {
    position: relative;
    width: 60%;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;


    padding: 100px 60px 30px;
    text-align: center;
    background: #ffb4e2;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .09);
    transition: .2s;
}
.filter-area{
    margin-left: 80%;
    margin-top: 2%;
    padding: 2px 10px;
    
  }
.isAvailable{
    width: 180px;
    height: 35px;
}
